div(class='row')
  div(class='small-4 columns')
    label(style='cursor: default;') URL
      input(type='text', ng-model='url', placeholder='www.example.com')
    label(style='cursor: default;') Request Type
      select(ng-model='method')
        option(value='GET') GET
        option(value='POST') POST
        option(value='PUT') PUT
        option(value='DELETE') DELETE
    label(style='cursor: default;') URL Parameters
      div(class='row', ng-repeat="(key, value) in urlParams")
        div(class='small-5 columns')
          input(type='text', ng-model='key')
          {{key}}
        div(class='small-5 columns')
          input(type='text', ng-model='value')
          {{value}}
        div(class='small-2 columns', style='line-height:2.3em;')
          i(class="fa fa-minus fa-lg" ng-click='removeUrlParam(key)')
      div(class='row')
        div(class='small-5 columns')
          input(type='text', ng-model='urlKey', placeholder='Key')
        div(class='small-5 columns')
          input(type='text', ng-model='urlValue', placeholder='Value')
        div(class='small-2 columns', style='line-height:2.3em;')
          i(class="fa fa-plus fa-lg" ng-click='addUrlParam()')
    label(style='cursor: default;') Body Parameters
      div(class='row', ng-repeat="(key, value) in bodyParams")
        div(class='small-5 columns')
          input(type='text', ng-model='key')
        div(class='small-5 columns')
          input(type='text', ng-model='value')
        div(class='small-2 columns', style='line-height:2.3em;')
          i(class="fa fa-minus fa-lg" ng-click='removeBodyParam(key)')
      div(class='row')
        div(class='small-5 columns')
          input(type='text', ng-model='bodyKey', placeholder='Key')
        div(class='small-5 columns')
          input(type='text', ng-model='bodyValue', placeholder='Value')
        div(class='small-2 columns', style='line-height:2.3em;')
          i(class="fa fa-plus fa-lg" ng-click='addBodyParam()')
    div(class='button tiny', ng-click='submit()')
      i(class='fa fa-paper-plane', id='submit-icon')
  div(class='small-8 columns')
    label(style='cursor: default;') Response {{statusCode}} {{statusMessage}}
    textarea(ng-model='response')